ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.public-warpper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  margin: 15px 10px;
  padding: 10px;
}

.gray-bg-warpper {
  background-color: #f2f2f6;
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
}

.shop-template-form {
  text-align: left;
  & > div:not(.dialog) {
    padding: 20px 20px;
    border-top: 5px solid #f6f7f9;
    & > .title {
      font-size: 13px;
      font-weight: bold;
      span:nth-of-type(2) {
        font-size: 12px;
        font-weight: 400;
        margin-left: 5px;
        color: #909399;
      }
    }
  }

  .tips {
    border: 1px solid #d8e8fc;
    background-color: #e5f0fe;
    padding: 12px 16px;
    border-radius: 6px;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .add-list {
    cursor: pointer;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    border: 1px dashed #6b7685;
    padding: 7px;
    border-radius: 4px;
  }

  .padding-warpper {
    .change-padding {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .el-slider {
        margin-left: 10px;
        width: 200px;
        flex-shrink: 0;
      }
      span {
        width: 56px;
        margin-left: 20px;
        background: #f6f7f9;
        text-align: center;
        height: 26px;
        line-height: 26px;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }

  .component-style {
    .style-warpper {
      margin-top: 20px;
      border-radius: 5px;
      background: #f6f7f9;
      border: 1px solid #eee;
      text-align: center;
      position: relative;
      .style-change {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35px;
        line-height: 35px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        color: #fff;
        font-size: 14px;
      }
    }
  }

  .stype-dialog-warpper {
    padding: 16px;
    padding-bottom: 0px;
    .cu-list {
      display: flex;
      flex-wrap: wrap;
      .cu-item {
        cursor: pointer;
        width: 33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &.current {
          .img-warpper {
            border-color: #2589ff;
            .el-icon-success {
              display: block;
            }
          }
        }
        .img-warpper {
          border-radius: 5px;
          margin: 0px 20px;
          margin-bottom: 10px;
          border: 1px solid #e3e2e5;
          background-color: #f7f8fa;
          position: relative;
          img {
            width: 100%;
          }
          .el-icon-success {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 17px;
            transform: translate(50%, 50%);
            color: #2589ff;
            display: none;
          }
        }
        & > span {
          font-size: 13px;
        }
      }
    }
  }
}
